@import url("./bubbleui-v3.0.0.css");
@import url("./components/_import.css");
@import url("./views/_import.css");

:root {
	--animation-ultrafast: .2s;

	--background: #222;
	--on-background: #e1e1e1;
	--background-blur: blur(.5rem);

	--surface-1: #dfdfdf10;
	--on-surface-1: #737373;
	--surface-1-blur: blur(.75rem);

	--surface-2: #dfdfdf15;
	--on-surface-2: #e9e9e9aa;
	--surface-2-blur: blur(1rem);

	--surface-3: #dfdfdf20;
	--on-surface-3: #dadada;
	--surface-3-blur: blur(1.25rem);

	--surface-4: #dfdfdf25;
	--on-surface-4: #e9e9e9;
	--surface-4-blur: blur(1.5rem);

	--surface-5:#dfdfdf30;
	--on-surface-5: #cacaca;
	--surface-5-blur: blur(2.75rem);

	--surface-6: #dfdfdf35;
	--on-surface-6: #c1c1c1;
	--surface-6-blur: blur(3rem);

	--text-color: #f0f0f0;

	--primary-color: #b4e6ff;
	--on-primary-color: #222;

	height: 100%;
	width: 100%;
	font-size: 1.2rem;
}

body {
	background-repeat: no-repeat;
  	background-size: cover;
   	background-blend-mode: multiply;
}


:root[data-display="mobile"] body {
	display: flex;
	flex-direction: column-reverse;
}

* {
	transition: none;
	user-select: none;
	font-family: var(--font-console) !important;
}

*:focus {
	transition: outline-color var(--animation-fast);
	outline: 0.15rem solid var(--primary-color);
}

a:focus:not(:hover) {
	border-radius: 0.35rem;
	border: 0.15rem solid var(--primary-color);
}

div#app-content {
	width: 100%;
	height: calc(100% - 3rem);
	overflow-y: auto;
}
