.channel_bar{
    --padding: 10px;
    --width: calc(20vw - (var(--padding) * 2)); 
    --height: calc(100vh - (var(--padding) * 2)); 
    --overflow_y: auto;

    width: var(--width);
    height: var(--height);
    padding: var(--padding);
    overflow-y: var(--overflow_y);

    scroll-behavior: smooth;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.channel_bar::-webkit-scrollbar{display: none;}
.channel_bar h1{
    --indent: 5%;
    --font_size: 1.3em;

    text-indent: var(--indent);
    font-size: var(--font_size);
    cursor: pointer;
}
.channel_bar h3{
    --indent: 10%;
    --font_size: 1em;
    --brightness: .5;

    text-indent: var(--indent);
    font-size: var(--font_size);
    filter:brightness(var(--brightness));
    cursor: pointer;
}

.channel_bar h3:hover{ 
    --indent: 11%;
    text-indent: var(--indent);
    filter:none;
}

.channel_bar h3.selected{
    --color: var(--accent_color);
    color: var(--color);
    filter: none;
}

@media screen and (max-width: 900px){
    .channel_bar{display: none;}
}