
/**
*  -----------------------------------------------------
*   Operating system navbar  
*  -----------------------------------------------------
*/
header#os-navbar {
    background: #fff;
    color: #FFFFFF;
    z-index: 2;
    height: 2.5rem;
    backdrop-filter: blur(1rem);
    display: none;
    justify-content: flex-end;
    align-items: center;

}

:root[data-theme=dark] header#os-navbar {
    background: rgba(0, 0, 0, .07);
}

header#os-navbar h1#title {
    font-size: .8rem;
    font-weight: normal;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 1.2rem;
    letter-spacing: .12rem;
    color: #404040;
}

:root[data-theme=dark] header#os-navbar h1#title {
    color: #fff;
    margin-right: 2rem;
}


@media (max-width: 60rem) {

    body{
        display: flex;
        flex-direction: column-reverse !important;
    }

    header#os-navbar {
        flex-direction: column;
        display: flex;
        height: 4rem;
        width: 100%;
        background: rgba(0, 0, 0, .15) !important;
        padding: .1rem 2rem;
       
    }

    header#os-navbar #title-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: .7rem;
        height:  4rem;
        min-height:  4rem;
        width: 100%;

    }

    header#os-navbar #mobile-sidebar {
        display: none;
        width: 100%;
        height: 80%;
        padding: 1rem .2rem;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    header#os-navbar #mobile-sidebar .sidebar-item {
        display: flex;
        align-items: center;
        padding: 2rem;
        height: 4rem;
        width: 4rem;
        background: rgba(255, 255, 255, .035) !important;
        border-radius: 1rem;
        margin-right: .1rem;
        margin-top: .5rem;
    }

    header#os-navbar #mobile-sidebar .sidebar-item svg {
        height: 2rem;
        width: 2rem;
    }


    header#os-navbar #mobile-sidebar .sidebar-item.selected svg {
        fill: #fff;
    }
}