
@import "./modules/bubble/css/gestor.css";
@import "./modules/sotchapp/css/gestor.css";

@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu+Mono&display=swap');

/*VARIABLES HTML*/
html{
    --bg:                  #fafafa;  
    --b2:                  #fefefe;  
    --b3:                  #fff;
    --b_alt:               #f7f7f7;
    --font:                 'Roboto light', sans-serif;
    --fontLight:            'Roboto thin', sans-serif;
    --fontTitle:            'Roboto', sans-serif;
    --fontConsole:          'Ubuntu Mono', monospace;

    --txt_color:            #404040;
    --error_color:          #EB5757;
    --success_color:        #00C851;
    --warning_color:        #f0ad4e;
    --info_color:           #5bc0de;
    --disabled_color:       #aaaaaa;   
    --dark_color:           #101010;
    --light_color:          #fafafa; 

    --RGB_bg_color:             250,250,250;    
    --RGB_txt_color:            64,64,64;
    --RGB_error_color:          235,87,87; 
    --RGB_success_color:        0,200,81;
    --RGB_warning_color:        255,187,51;
    --RGB_info_color:           91,192,222;    
    --RGB_disabled_color:       170,170,170;    
    --RGB_light_color:          250,250,250;    
    --RGB_dark_color:           16,16,16;    

    --accent_color:         #1e90ff;
    --accent_color_light:   #80c0ee;

    --RGB_accent_color:            30,144,255;
    --RGB_accent_color_light:      128,192,238;

    --box_shadow:           0px 2px 4px rgba(0,0,0,.15);
    --box_shadow_right:     2px 0px 4px rgba(0,0,0,.15);
    --radius:               3px;
    --pd_btn:               10px;
    --pd_in:                5px;
    --margin:               10px;
    --outline:              .5px solid lightgray;
    
    margin:                         0; 
    padding:                        0;
    width:                          100%;
    overflow-x:                     hidden ;
    -webkit-tap-highlight-color:    transparent;
}

html[data-theme = "dark"]{
    --bg:                 #202020;
    --b2:                 #151515;
    --b3:                 #242424;
    --b_alt:              #101010;
    --txt_color:          #eaeaea;
    --box_shadow:           0px 2px 4px rgba(0,0,0,.15);
    --box_shadow_right:     2px 0px 4px rgba(0,0,0,.15);
    --outline:              .5px solid #161616;
}

*{
    box-sizing: border-box;
    transition: .25s;
}
*:focus{outline: var(--outline);}

/*ELEMENT OPTIONS*/
body{
    position:       relative;
    background:     var(--bg);
    color:          var(--txt_color);
    font-family:    var(--font);
    margin:         0;
    padding:        0;
    width:          100vw;
}

input[type=checkbox]{margin: 10px;}
label{cursor: pointer;}
label:hover{ color: var(--accent_color)}
button:focus, input:focus{ outline: none;}
h1{font-family: var(--fontTitle);}
a{
    --color:            var(--accent_color);
    --text-decoration : none;

    color:              var(--color);
    text-decoration:    var(--text-decoration);
}