.room_post{
    --z_index: 1;
    --padding: 25px;
    --padding_top: 15px;
    --width: calc(100% - (var(--padding) * 2));
    --background: var(--b3);
    --margin: 0;
    --margin_bottom: 5px;
    --radius: var(--radius);
    --min-height: 500px;

    z-index: var(--z_index);
    padding: var(--padding);
    width: var(--width);
    background: var(--background);
    border-radius: var(--radius);
    padding-top: var(--padding_top);
    margin: var(--margin);
    margin-bottom: var(--margin_bottom);

    position: relative;
    display: flex;
    
    flex-wrap: wrap;
}

.room_post .profile_pic{
    --radius: 100%;
    border-radius: var(--radius);
    object-fit: cover;
}

.room_post img{
    --padding:  10px;
    --width: calc(50% - 20px);
    --radius: 6px;
    --max_height: 400px;

    width: var(--width);
    border-radius:var(--radius);
    padding: var(--padding);
    max-height: var(--max_height);
    object-fit: scale-down;
}

.room_post h1.username{
    --margin: 0;
    --width: calc(100% - 100px);
    --font_size: 1.4em;

    font-size: var(--font_size);
    margin: var(--margin);
    width: var(--width);
    align-self: center;
}

.room_post h2{
    --font_size: 1.25em;
    --margin: 0;
    --width: 100%;
    --padding: 10px;

    font-size: var(--font_size);
    margin: var(--margin);
    width: var(--width);
    padding: var(--padding);
    align-self: center;
}

.room_post .profile_pic{
    --max_width: 50px;
    max-width: var(--max_width);
    filter: none;
}

@media screen and (max-width: 800px){
    .room_post img{width: 95%;}
}
