.minimal_login{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    align-items: center;
}

.minimal_login #logo{
    width: 25%;
    min-width: 120px;
    margin-bottom: 50px;
}

.minimal_login_view{
    height: 100vh;
    width: 100vw;
    background: var(--b3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minimal_login .button_bar{
    display: flex;
    flex-direction: column;
}

.minimal_login form{
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

html[data-theme='dark'] .minimal_login_view{
    background: var(--bg);
}

.minimal_login .accentBtn{
    min-width: 100px;
    margin-top: 30px;
    margin-bottom: 15px;
}

@media screen and (max-width: 600px){
    .minimal_login .button_bar{
        flex-direction: row-reverse;
        position: fixed;
        bottom: 2%;
        width: 90%;
        justify-content: space-between;
    }

    .minimal_login .minimalBtn{padding:7px; height: 50px; margin: 10px;}
    .minimal_login .accentBtn{ margin-top: 10px;}
    
} 