.prettyLogin{
    display: flex;
    flex-direction: column;
    width: 450px;
    max-height: 500px;
    min-height: 400px;
    height: 70%;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: var(--radius);
    box-shadow: var(--box_shadow);
    background: var(--b3);
}

.prettyLogin h1{text-align: center;}
.prettyLogin h4{
    width: 50%; 
    margin: 0px;
    margin-top: 2.5px;
    max-width: 300px;
    padding: 20px;
    padding: 2px;
}
.prettyLogin .logo{
    position: relative;
    width: 35%;
}
.prettyLogin .minimalInput{
    position: relative;
    width: 45%;
    max-width: 300px;
    margin: 5px;
    height: 18px;
}

.prettyLogin .accentBtn{
    width: 30%;
    padding: 7px;
    margin: 15px;  
}

.prettyLogin .minimalBtn{
    margin: 0;
}

.prettyLogin form{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.prettyLogin label{
    opacity: .65;
    font-weight: bold;
}

@media screen and (max-width:600px){
    .prettyLogin{
        width: 80%;
    }
}