.rounded{
  border-radius: 100%;
}

/*NOT COMPILED*/
.rounded_tool_btn {

  width: 20%;
  max-width: 60px;
  max-height: 35px;
  box-shadow: 0px 0px 1px rgba(0,0,0,.25);
  border-radius: 3px;
  cursor: pointer;
  transition: .25s;
  margin: 5px;
}

.rounded_tool_btn:hover{
    background : #fafafa;
}

.rounded_tool_btn.selected{
  background : #404040;
  box-shadow: 0px 2px 4px rgba(0,0,0,.15);
}

*:focus{
    outline: none;
}

html[data-theme="dark"] .rounded_tool_btn {
  border-color: #404040;
}

html[data-theme="dark"] .rounded_tool_btn:hover{
    background : #404040;
}

.lss_select{
    background      : var(--b3);
    height          : 35px;
    width           : 90%;
    margin          : 10px;
    margin-left     : 5%;
    margin-right    : 5%;
    border          : 1px solid #f9f9f9; 
    box-shadow      : 0px 1px 3px rgba(0,0,0,.08);
    border-radius   : 6px;
    color           : var(--txt_color);
    padding         : 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

html[data-theme="dark"] .lss_select{
    border: none;
    background : #2F2F2F;
    color : #909090;
}

.hover_accent:hover{
  color: var(--accent_color) !important;
}

.minimal_login .button_bar{
  width: 100%;
  padding: 10px;
  --accent_color : #404040;
}

.minimal_login input{
  font-size: 1em;
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0px;
}

.login_input{
  text-align: justify;
}

.minimal_login .button_bar .accent_btn{
  min-width: 80px;
}


@media screen and (max-width : 600px){
  .minimal_login .button_bar{ bottom: 0%;}
} 

.project_menu_entry{
  height : auto;
  padding : 10px;
}

.project_menu_entry .title_bar{
  height : 30px;
  width : 100%;
  border-bottom: .1em solid #E5E5E5;
  color : #404040;
  padding : 5px;
  font-size : .9em;
  font-family : Roboto;
  width : 100%;
  display : block;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  transition: .25s;
}

.minimal_bar { 
  --default:  #404040;
}

.new_project_button{
  align-self : flex-end;
  font-size : .9em;
  font-family : Roboto;
  font-weight : 400;
  border-width : 2px;
  padding-left : 20px;
  padding-right :20px;
  border-radius :4px;
}

html[data-theme=light] .new_project_button{
    --accent_color : #404040;
}

html[data-theme=dark] .new_project_button {
  --accent_color: #fff;
  
}

html[data-theme=dark] .project_menu_entry .title_bar{
  color:#fff;
}

.project_menu_entry .title_bar.selected, html[data-theme=dark] .project_menu_entry .title_bar.selected{
  border-color:  #2F80ED;
  color : #2F80ED;
}

.project_menu_entry .title_bar .icon_bar {
  max-width:100px ;
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.project_menu_entry * { transition: 1s;}

.project_menu_entry .title_bar .icon_bar img{
  height: 100%;
}