.admin_panel{
    --margin:     0;
    --padding:    0px;
    --width:      calc(100vw - (var(--padding) * 2));
    --height:     calc(100vh - (var(--padding) * 2));
   
    width:      var(--width);
    height:     var(--height);
    margin:     var(--margin);
    padding:    var(--padding);   
}

.admin_panel main{
    --width:            100%;
    --height:           100%;
    --display:          flex;
    --flex-direction:   row;
    --flex-wrap:        wrap;
    --color:            var(--smooth_txt_color);
    --justify-content:  space-around;


    width:              var(--width);
    height:             var(--height);
    display:            var(--display);
    flex-direction:     var(--flex-direction);
    color:              var(--color);
    flex-wrap:          var(--flex-wrap);
    justify-content:    var(--justify-content);
}