.onepage_app{
    --width:    100vw;
    --height:   100vh;
    --margin:   0;
    --padding:  0;

    width:      var(--width);
    height:     var(--height);
    margin:     var(--margin);
    padding:    var(--padding);
}

.onepage_app main{
    --width:            100%;
    --height:           calc(90vh - 20px);
    --display:          flex;
    --flex-direction:   column;
    --justify-content:  center;
    --align-items:      center;
    --padding:          20vh;

    width:              var(--width);
    height:             var(--height);
    display:            var(--display);
    flex-direction:     var(--flex-direction);
    justify-content:    var(--justify-content);
    align-items:        var(--align-items);
}