.product_manage{
    --margin:     0;
    --padding:    0px;
    --width:      calc(100vw - (var(--padding) * 2));
    --height:     calc(100vh - (var(--padding) * 2));
   
    width:      var(--width);
    height:     var(--height);
    margin:     var(--margin);
    padding:    var(--padding);   
}

.product_manage main{
    --width:            100%;
    --height:           100%;
    --display:          flex;
    --flex-direction:   row;
    --flex-wrap:        wrap;
    --color:            var(--smooth_txt_color);
    --justify-content:  space-around;


    width:              var(--width);
    height:             var(--height);
    display:            var(--display);
    flex-direction:     var(--flex-direction);
    color:              var(--color);
    flex-wrap:          var(--flex-wrap);
    justify-content:    var(--justify-content);
}

.product_manage main .column{
    width: 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*
.product_manage main .column_1{
    background: blue;
}

.product_manage main .column_2{
    background: red;
}

.product_manage main .column_3{
    background:green;
}*/

.product_manage main .group{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.product_manage main .group .userInput{
    position: relative;
    width: 100%;
    border-radius: 20px;
    padding: 12px;
}

.product_manage main .group textarea.userInput{
    
}


.product_manage main .group h2.label{
    text-align: left;
    width: 100%;
}


@media screen and (max-width:750px){
    .product_manage main{
        flex-direction: column;
        justify-content: center;
    }

    .product_manage main .column{
        width: 100%;
    }
    .product_manage main .column .group{
        width: 50%;
    }
} 
