.shopping_cart{
    background: var(--b2);
}

.shopping_cart main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--smooth_txt_color);
}

.shopping_cart main h1.title{
    font-weight: 300;
    margin: 50px;
}


.shopping_cart main .product{
    width: 80%;
    margin-bottom: 1.5%;
    display: flex;
    align-items: center;
    height: 50px;
    justify-content: space-between;
}

.shopping_cart main .product .info{
    height: 100%;
    display: flex;
    align-items: center;
}

.shopping_cart main .product .info img.picture{
    height: calc(100% - 20px);
    margin-right: 20px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0px 1px 4px rgba(0,0,0,.08);
    background: var(--b2);
}

.shopping_cart main .product  .info h2.name{
    font-size: 1.2em;
}

.shopping_cart main .product .actions{
    height: 100%;
    display: flex;
    align-items: center;

}

.shopping_cart main .product .actions h2.quantity{
    margin: 10px;
    font-size: 1.2em;
}

.shopping_cart main .product .actions img.icon{
    height: 80%;   
    cursor: pointer;
}

.shopping_cart main h2.total{

}


.icon_btn.buy{
    --bottom: 14vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon_btn.buy img{
    height: 90%;
}

@media screen and (max-width: 600px){
    .shopping_cart main .product  .info h2.name{
       display: none;
    }
}