.web_show_def{
    --width:      100vw;
    --height:     100vh;
    --margin:     0;
    --padding:    0;   

    width:      var(--width);
    height:     var(--height);
    margin:     var(--margin);
    padding:    var(--padding);   
}

.web_show_def main{
    --position:         relative;
    --width:            calc(100% - 20px);
    --height:           calc(100vh);
    --padding:          10px;
    --display:          flex;
    --z-index:          0;
    --flex-direction:   column;
    --align-items:      center;
    --overflow-y:       auto;
    --padding-y:        0;

    position:           var(--position);
    width:              var(--width);
    height:             var(--height);
    padding:            var(--padding);
    display:            var(--display);
    z-index:            var(--z-index);
    flex-direction:     var(--flex-direction);
    align-items:        var(--align-items);
    overflow-y:         var(--overflow-y);
    padding-top:        var(--padding-y);
    padding-bottom:     var(--padding-y);
}

