@import "../../colors/accents.css";

.txt_accent{color: var(--accent_color)}
.txt_success{color: var(--success_color)}
.txt_error{color: var(--error_color)}
.txt_info{color: var(--info_color)}
.txt_warning{color: var(--warning_color)}
.txt_disabled{color: var(--disabled_color)}
.txt_light{color: var(--light_color)}
.txt_dark{color: var(--dark_color)}

.bg_accent{ background: var(--accent_color);}
.bg_success{ background: var(--success_color);}
.bg_error{ background: var(--error_color);}
.bg_info{ background: var(--info_color);}
.bg_warning{ background: var(--warning_color);}
.bg_disabled{ background: var(--disabled_color);}
.bg_light{ background: var(--light_color);}
.bg_dark{ background: var(--dark_color)}

