@import "../../settings/text/textSettings.css";
@import "../../settings/boxes/boxSettings.css";
@import "../../settings/boxes/sizes.css";
@import "../../settings/layouts/display.css";
@import "../../settings/buttons/buttonSettings.css";
@import "../../settings/colors/colorSet.css";