.assistant_bar{
  position: fixed;
  bottom: 0;
  width: min(585px, 100%);
  height: 65px;
  z-index: 20;
  background: var(--b2);
  box-shadow: 0px -2px 7px rgba(0,0,0,.10);
  border-radius: 35px 35px 0px 0px;
  display: flex;
  justify-content: center;
}

.assistant_bar img{
    position: absolute;
    right: 5%;
    top:-45%;
    background-color: var(--b2);
    padding: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,.15);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.assistant_bar input{
    width: 100%;
    border-radius: 30px 30px 0px 0px;
    height: 100%;
    border: none;
    padding-left: 10%;
    font-size: 1em;
    font-weight: lighter;
    font-family: var(--fontLight);
    background: transparent;
    color: var(--smooth_txt_color)
}

