.detailed_achievement{
    width: 80%;
    height: 100px;
    max-width: 585px;   
    display: flex;
    align-items: center;
    color: var(--smooth_txt_color)
}

.detailed_achievement .achievement{
    display: block;

    width: 10vw;
    height: 10vw;

    min-width: 50px;
    min-height: 50px;

    max-width: 100px;
    max-height: 100px;
    
    filter: drop-shadow(0px 2px 10x rgba(0,0,0,.10));
} 

.detailed_achievement .info{
    padding: 10px;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    overflow: hidden;
    width: 80%;
    font-size: min(2.5vw, 16pt);
}

.detailed_achievement .info .details{
    position: relative;
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.detailed_achievement .info .details .desc{
    font-size: .7em;
}

.detailed_achievement .info p{margin: 0;
    text-overflow: ellipsis;
}
.detailed_achievement .info .title{
    font-size: 1.5em;
}

.detailed_achievement .rewards {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    justify-self: flex-end;
}

.detailed_achievement .rewards .entry{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10%;
}

.detailed_achievement .rewards .entry img{
    padding: 10%;
    width: 40%;
}