.experience_bar{
    position: relative;
    background: var(--bg);
    box-shadow: var(--box_shadow);
    margin: 10px;
    max-width: 550px;
    width: 80%;
    border-radius: 100px;
    height: 25px;
    min-height: 25px;
    z-index: 1;
    --percentage: 0;
}

.experience_bar::before{
    content: ' ';
    display: block;
    background: linear-gradient(269.56deg, #1E90FF -9.29%, rgba(255, 255, 255, 0) 103.04%), #52AAFF;;
    position: absolute;
    width:  var(--percentage);
    height: 25px;
    border-radius: 100px;
    left: 0px;
    bottom: 0;
    z-index: 2;
    transition: .5s;
}

.experience_bar .start{
    position: absolute;
    left: 0;
    margin-top: -25px;
}

.experience_bar .end{
    position: absolute;
    right: 0;
    margin-top: -25px;
}