.minimal_gallery{
    display: flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap; 
    max-width: 585px;
    margin-bottom: 20px;

}

.minimal_gallery img{
    object-fit: cover;
    width: 26vw;
    height: 26vw;
    margin: .7%;
}

@media screen and (min-width: 700px){
    .minimal_gallery img{
        width: 180px;
        height: 180px;
    }
}