.user_header{   
    padding: 15px;
    width: calc(100% - 30px);
    height: 120px;
    display: flex;
    justify-self: center;
}
.user_header .picture_box{
    position: relative;
    width: calc((100% / 6) - 20px);
    height : calc(100% - 20px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
 
}

.user_header .picture_box img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    box-shadow: var(--box_shadow);
    border-radius: 500px;
}

.user_header .info_box{
    width:calc(100% / (12 / 8));
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.user_header .info_box h1{
    
    margin: 0px 3px ;

}

.user_header .info_box p{
    margin: 0px 3px ;
}

.user_header .other_box{
    width:calc(100% / (12 / 2));
    display: flex;
    justify-content: center;
    align-items: center;
}

.user_header .other_box .badge{
    font-family:  var(--fontConsole);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: var(--font);
    font-weight: bold;
    font-size: 1em;
    color: #fff;
    box-shadow: var(--box_shadow);
    background: var(--success_color);
}

@media screen and (max-width: 700px){
    .user_header{
        flex-direction: column;
        height: 280px;
        justify-content: center;
        align-items: center;
    }

    .user_header  .picture_box img{
        height: 120px;
        width: 120px;
    }
    
    .user_header .info_box{
        text-align: center;
    }

    .user_header .other_box .badge{
        width: 100px;
        height: 20px;
        margin: 10px;
    }
}