.minimal_input{
    --color:            var(--txt_color);
    --border:           none;
    --background:       none;
    --padding:          10px;
    --font-size:        1.2em;
    --border-bottom:    2px solid transparent;

    border:         var(--border);
    background:     var(--border);
    padding:        var(--padding);
    color:          var(--color);
    font-size:      var(--font-size);
    border-bottom:  var(--border-bottom);
}
.minimal_input:focus{outline: none;}
.minimal_input:hover{
    --border-bottom:    2px solid var(--accent_color);
    border-bottom:      var(--border-bottom);
}
.minimal_input[type=text]:focus{
    --color:    var(--accent_color);
    color:      var(--color);
}

.discrete_input{
    --color:            var(--txt_color);
    --border:           none;
    --background:       none;
    --padding:          10px;
    --font-size:        1.2em;
    --border-color:     var(--accent_color);
    --border-bottom:    2px solid var(--border-color);

    border:         var(--border);
    background:     var(--border);
    padding:        var(--padding);
    color:          var(--color);
    font-size:      var(--font-size);
    border-bottom:  var(--border-bottom);
}

.discrete_input:hover, .discreteInput:active{
    --padding-x: 15px;
    padding-left: var(--padding-x);
    padding-right: var(--padding-x);
}