/*INPUTS*/
.user_input{
    --background:   var(--b2);
    --padding:      var(--pd_btn);
    --radius:       var(--radius);
    --box-shadow:   var(--box_shadow);
    --color:        var(--txt_color);
    --border:       none;

    background:     var(--background);
    padding:        var(--padding);
    border:         var(--border);
    border-radius:  var(--radius);
    box-shadow:     var(--box-shadow);
    color:          var(--color);
}

.user_input:focus{
    --new_padding:      15px;
    padding-left:   var(--new_padding);
    padding-right:  var(--new_padding);
}

.user_input.error{
    --background:   var(--b2);
    --padding:      var(--pd_btn);
    --radius:       var(--radius);
    --border:       3px solid #DB4437;
    --color:        var(--txt_color);
    --box-shadow:   none;

    background:     var(--background);
    padding:        var(--padding);
    border-radius:  var(--radius);
    border:         var(--border);
    color:          var(--color);
    box-shadow:     var(--box-shadow);
}