.icon_btn{
    --size: 35px;
    --padding: 10px;
    --radius: 100%;
    --bottom: 5vh;
    --right: 5vw;
    --z_index: 9;
    --color: var(--accent_color);
    --shadow: var(--box_shadow);

    position: fixed;
    cursor: pointer;

    width:var(--size);
    height: var(--size);
    padding: var(--padding);

    background: var(--color);
    border-radius: var(--radius);
    box-shadow: var(--shadow);
    
    z-index: var(--z_index);
    bottom: var(--bottom);
    right: var(--right);
}

.icon_btn:hover{ 
    --translate : -3px;
    --scale : 1.1;

    transform: scale(var(--scale)) translateY(var(--translate));
}
.icon_btn:active{transform: scale(.95);}

.icon_btn img{
    --width: 100%;
    width: var(--width);
}