div.terminal {
	padding: 1rem 1rem;
	width: 100%;
}

div.terminal div.command {
	width: 100%;
}

div.terminal div.command div.in {
	padding: 1rem 0rem;
	width: 100%;
	color: var(--primary-color);
	font: var(--font-console);
	font-size: 1.25rem;
}

div.terminal div.command div.out {
	padding: 0.5rem 1rem;
	font-size: 1.25rem;
	color: #676767;
}

div.terminal div.command div.out *.out-line {
	padding: 0.5rem 0;
}

div.terminal div.command div.out span.red {
	color: #b24545;
}

div.terminal div.command div.out span.green {
	color: #82ad6a;
}
div.terminal div.command div.out span.blue {
	color: #b4e6ff;
}
