.glass_btn {
  --radius:             3px;
  --padding:            var(--pd_btn);
  --box-shadow:         var(--box_shadow);
  --alpha:              .2;
  --background-color:   var(--RGB_light_color);
  --background:         rgba(var(--background-color),var(--alpha));
  --margin:             10px;
  --color:              var(--bg);
  --font-color:         var(--color);
  --border:             none;
  --font-size:          1.1em;
  --blur:               5px;

  color:            var(--font-color);
  backdrop-filter:  blur(var(--blur));
  border:           var(--border);
  border-radius:    var(--radius);
  padding:          var(--padding);
  box-shadow:       var(--box-shadow);
  margin:           var(--margin);
  background:       var(--background);
  cursor:           pointer;
  font-size:        1.1em;
  font-family:      var(--fontLight);
  font-weight:      bold;
}

.glass_btn:active,
.glass_btn:hover {
    --alpha: .7;
}
