.elegant_btn{
    --color:            #404040;
    --hover_color:      #fafafa; 

    --color_dark:       #fff;  
    --hover_color_dark: #404040;  

    --background:       transparent;
    --border:           2px solid var(--color);
    --margin:           10px;
    --padding:          10px;
    --display:          flex;
    --font-size:        1.1em;
    
    color:              var(--color);
    background:         var(--background);
    margin:             var(--margin);
    border:             var(--border);
    display:            var(--display);
    padding:            var(--padding);
    font-size:          var(--font-size);
    z-index:            0;
    position:           relative;
    height:             50px;
    overflow:           hidden;
    align-items:        center;
    cursor:             pointer;
}

html[data-theme='dark'] .elegant_btn{
    --color: var(--color_dark);
    --hover_color: var(--hover_color_dark);
}

.elegant_btn::before {
    transition: .5s;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: var(--color);
    transform: translateX(-100%);
    z-index: -1;
}

.elegant_btn.horizontal::before{
    transform: translateY(100%);
}


.elegant_btn.rounded::before{
    border-radius: 100%;
}
.elegant_btn.rounded:hover::before{
    border-radius: 0%;
}

.elegant_btn:hover{
    color: var(--hover_color);
}

html[data-theme='dark'] .elegant_btn:hover{
    --color: var(--color_dark);
    --hover_color: var(--hover_color_dark);
}


.elegant_btn:hover::before{
    transform: translate(0);
}
