.switch_btn{
    --height:           25px;
    --width:            auto;
    --margin:           10px;
    --border-radius:    1000px;
    --border:           none;
    --background:       var(--b4);
    --box-shadow:       var(--box_shadow);
    --cursor:           pointer;

    height:             var(--height);
    width:              var(--width);
    margin:             var(--margin);
    border-radius:      var(--border-radius);
    border:             var(--border);
    background:         var(--background);
    box-shadow:         var(--box-shadow);
    cursor:             var(--cursor);
}

.switch_btn::before{
    --display:        block;
    --transition:     .5s;
    --transform:      translateX(calc(2px - 50%));
    --content:        '';
    --position:       relative;
    --left:           1px;
    --top:            1px;
    --width:          calc(25px * 0.8);
    --box-sizing:     border-box;
    --border:         4px solid var(--b4);
    --height:         80%;
    --background:     var(--txt_color);
    --border-radius:  100px;

    display:        var(--display);
    transition:     var(--transition);
    transform:      var(--transform);
    content:        var(--content);
    position:       var(--position);
    left:           var(--left);
    top:            var(--top);
    width:          var(--width);
    box-sizing:     var(--box-sizing);
    border:         var(--border);
    height:         var(--height);
    background:     var(--background);
    border-radius:  var(--border-radius);
}

.switch_btn.active::before{
    --transform: translateX(calc(50% - 4px));
    --background: var(--accent_color);
}