.info_banner{
    --background:       var(--info_color);
    --height:           50px;
    --width:            50%;
    --max-width:        500px;
    --min-width:        100px;
    --padding-y:        5px;
    --padding-x:        20px;
    --margin-x:         0px;
    --margin-y:         10px;
    --text-align:       center;
    --border-radius:    3px;
    --color:            var(--light_color);
    --display:          flex;
    --justify-content:  center;
    --align-items:      center;

    display:            var(--display);
    justify-content:    var(--justify-content);
    align-items:        var(--align-items);
    background:         var(--background);
    padding:            var(--padding-y) var(--padding-x);
    height:             var(--height);
    width:              var(--width);
    max-width:          var(--max-width);
    text-align:         var(--text-align);
    border-radius:      var(--border-radius);
    margin:             var(--margin-y) var(--margin-x);
    color:              var(--color);
    font-weight:        550;
}

.info_banner.auto{
    --height:      auto;
    flex-direction: column;
}

.info_banner .title{
    width: 100%;
    font-family: var(--fontTitle);
    font-weight: bold;
}

.info_banner .icon{
    max-height: 90%;
    margin: 10px;
}

.info_banner .link{
    font-family: var(--fontTitle);
    font-weight: bold;
    margin: 5px;
    color: var(--light_color);
    cursor: pointer;
    border-bottom:  2px solid transparent;
}

.info_banner.auto .link{
    margin: 15px;
}

.info_banner.auto .icon{
    width: 50%;
}

.info_banner .link:hover{
    border-color: var(--light_color);
}

@media screen and (max-width:600px){.info_banner{--max-width:80%; --width: 80%;}} 