/*ALIGN OPTIONS*/
.align-horizontal{
    margin-left: auto;
    margin-right: auto;
}


.fixed{
    --top:      0;
    --left:   0;

    position:   fixed;
    left:       var(--left);
    top:        var(--top);
}

.box-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-x-center{
    display: flex;
    justify-content: center;
}

.box-x-start{
    display: flex;
    justify-content: flex-start;
}

.box-x-end{
    display: flex;
    justify-content: flex-end;
}

.box-x-around{
    display:flex;
    justify-content: space-around;
}

.box-x-between{
    display: flex;
    justify-content: space-between;
}

.box-y-center{
    display: flex;
    align-items: center;
}

.box-warp{
    display: flex;
    flex-wrap: wrap;
}

.box-column{
    display: flex;
    flex-direction: column;
}

.box-row{
    display: flex;
    flex-direction: row;
}

.b-fr{
    --n: 1;
    width: calc(100% / var(--n));
}

.box-center-x-self{
    justify-self: center;
}

.box-center-y-self{
    align-self: center;
}