.card_bar{
    position: fixed;
    background: var(--b2);
    width: 200px;
    height: auto;
    padding: 20px;
    box-shadow: var(--box_shadow);
    border-radius: 6px;

    top: 12vh;
    right: 2.5vw;
    display: flex;
    flex-direction: column;
   
    align-items: center;
    z-index: 10;
}

.card_bar .profile_pic{
    width:  80px;
    height: 80px;
    object-fit: cover;
    box-shadow: 0px 2px 4px rgba(0,0,0,.10);
    margin: 10px;
    border-radius: 100%;
}

.card_bar li{
    list-style: none;
    padding: 7px;
    font-family: var(--fontTitle);
    border-radius: 3px;
    font-size: .9em;
}

.card_bar li.selected{
    box-shadow: 0px 2px 4px rgba(0,0,0,.10);
    background: var(--accent_color);
}

.card_bar li.selected a{
    color: var(--b2);
}

.card_bar li a{
    color: var(--smooth_txt_color)
}

.card_bar li:hover a{color: var(--accent_color);}
.card_bar li.selected:hover a{color: var(--b2);}

.card_bar .options{
    margin: 10px;
}

.card_bar .icon_bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}