.horizontalBar{
    --background:   var(--b3);
    --height:       10vh;
    --width:        calc(100% - 10px);
    --padding:      5px;
    --display:      flex;
    --align-items:  center;
    --flex-wrap:    wrap;
    --box-shadow:   var(--box_shadow);
    --position:     relative;
    --z-index:      9;

    background:     var(--background);
    height:         var(--height);
    padding:        var(--padding);
    width:          var(--width);
    display:        var(--display);
    align-items:    var(--align-items);
    flex-wrap:      var(--flex-wrap);
    box-shadow:     var(--box-shadow);
    position:       var(--position);
    z-index:        var(--z-index);
}

.web_show_def main.withHorizontalBar{
    --height:   calc(100% - 10vh - var(--padding-y) * 2  - 10px);
    height:     var(--height);
}

.horizontalBar li{
    --radius: var(--radius);
    --list-style-type:  none;
    --margin:           5px;
    --padding:          10px;
    --filter:           brightness(1);

    list-style-type:    var(--list-style-type);
    margin:             var(--margin);
    padding:            var(--padding);
    filter:             var(--filter);
    border-radius:      var(--radius);
    cursor:             pointer;
}

.horizontalBar h1{
    --margin :  0;
    margin:     var(--margin);
}

.horizontalBar li:hover{
    --tranform:     translateY(-2px);
    transform:      var(--tranform);
}
.horizontalBar li:hover a{
    --opacity:  1;
    opacity:    var(--opacity);
}
.horizontalBar li a{
    --color:    var(--txt_color);
    --text-decoration: none;
    --opacity: .5;

    color:              var(--color);
    text-decoration:    var(--text-decoration);
    opacity:            var(--opacity);
}

.horizontalBar .logo{
    --size:     70%;
    --margin:   5px;

    height:     var(--size);
    width:      calc(var(--height) * .7);
    margin:     var(--margin);
}


