.minimal_bar{
    --default :             #24292e;
    --default_txt:          #585858;
    --default_hover_txt:    #fafafa;

    --padding:            10px;
    --background:         var(--default);
    --color:              var(--default_txt);
    --width:              100%;
    --height:             8vh;
    --z-index:            3;
    --display:            flex;
    --align-items:        center;
    --justify-content:    flex-start;

    position:           relative;
    padding:            var(--padding);
    background:         var(--background);
    color:              var(--color);
    width:              var(--width);
    height:             var(--height);
    z-index:            var(--z-index);
    display:            var(--display);
    align-items:        var(--align-items);
    justify-content:    var(--justify-content);
}

html[data-theme='dark'] .minimal_bar{
    --default :         var(--bg);
    --default_txt:      #404040;
    --default_hover_txt:  var(--default_txt);
}

.minimal_bar .logo{
    position: relative;
    --height:         70%;
    --object-fit:     cover;

    height:       var(--height);
    object-fit:   var(--object-fit);
}

.minimal_bar a{
    --color:    var(--default_txt);
    --display:  block;
    --padding:  5px;

    display:    var(--display);
    padding:    var(--padding);   
}

.minimal_bar a:hover{
    --color:        var(--default_hover_txt);
}


.minimal_bar a.selected{
    --border-bottom:    2px solid var(--default_hover_txt);
    --color:            var(--default_hover_txt);
    border-bottom:      var(--border-bottom);
}

.minimal_bar *{
    --margin:   10px;
    margin:     var(--margin);
}

