.tab_bar{
    --width:            100%;
    --background:       var(--b3);
    --color:            var(--txt_color);
    --bar-border-color: lightgray;
    --border-color:     gray;
    --border-bottom:    2px solid var(--bar-border-color);
    --box-sizing:       border-box;
    --border-bottom:    1px solid var(--bar-border-color);

    width:          var(--width);
    background:     var(--background);
    color:          var(--color);
    border-bottom:  var(--border-bottom);
    box-sizing:     var(--box-sizing);
    border-bottom:  var(--border-bottom);
}

html[data-theme = 'dark'] .tab_bar{
    --bar-border-color: #101010;
}

.tab_bar .tab{
    --padding:          10px;
    --height:           50px;
    --background:       transparent;
    --border:           none;
    --border-bottom:    1px solid transparent;
    --cursor:           pointer;
    --color:            var(--txt_color);

    padding:        var(--padding);
    height:         var(--height);
    background:     var(--background);
    border:         var(--border);
    border-bottom:  var(--border-bottom);
    cursor:         var(--cursor);
    color:          var(--color);
}

.tab_bar.accent{
    --border-color: var(--accent_color);
}

.tab_bar .tab.selected{
    --color: var(--accent_color);
}

.tab_bar .tab:hover{
   border-bottom-color: var(--border-color);
}