.settings_view{
    --padding:      30px;
    --width:        calc(100% - var(--padding) * 2);
    --height:       calc(100% - var(--padding) * 2);
    --right:        0;
    --top:          0;
    --radius:       6px;
    --background:   var(--bg);
    --shadow:       var(--box_shadow);
    --z_index:      3;

    position:           fixed;
    display:            flex;
    flex-direction:     column;
    overflow-y:         auto;   

    border-radius:      var(--radius);
    box-shadow:         var(--shadow);
    width:              var(--width);
    padding:            var(--padding);
    right:              var(--right);
    top:                var(--top);
    height:             var(--height);
    max-height:         var(--max_height);
    background:         var(--background);
    z-index:            var(--z_index);
    
    
}

.settings_view h1, .settings_view h2{
    margin: 0;
    font-family:        var(--fontLight);
    color:              var(--smooth_txt_color);
}

.settings_view h1{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size: 1.5em;
}

.settings_view h2{
    cursor: pointer;
    font-size: 1.1em;
}

.settings_view .modern_switch{
    display: flex;
    margin-left: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    align-self: flex-start;
}

.settings_view .modern_switch.danger h2{
    color: var(--error_color);
}

.settings_view .modern_switch img{
    height: 70%;
    margin: 10px;
}

.settings_view .modern_switch::before{
    position: relative;
    background: transparent;
    width: 5px;
    height: 50%;
    border-radius: 10px;
    content: '';
    display: block;
}

.settings_view .modern_switch.selected::before{
    background: var(--accent_color);
}

.colorset{
    width: auto;
    height: 60px;
}

.colorset .color{
    --cursor:           pointer;
    --width:            40px;
    --margin:           5px;
    --height:           40px;
    --box-shadow:       var(--box_shadow);
    --border:           none;
    --border-radius:    30px;
    --color:       var(--accent_color);

    cursor:             var(--cursor);
    border:             none;
    width:              var(--width);
    margin:             var(--margin);
    height:             var(--height);
    box-shadow:         var(--box-shadow);
    border:             var(--border);
    border-radius:      var(--border-radius);
    background:         var(--color);
}

.colorset .color.selected{
    --border:       10px solid var(--color);
    background:     var(--bg);

}

@media screen and (max-width:500px){
    .settings_view{
        display: flex;
        flex-direction: column;
        align-items: center ;
    }
}