.square{
    --size: 10px;
    aspect-ratio: 1 / 1;
    position:   relative;
    width:      var(--size);
}

.circle{
    --size: 10px;
    aspect-ratio: 1 / 1;
    position:   relative;
    width:      var(--size);
    border-radius: 100%;
}

.squircle{
    --size:     10px;
    --radius:   0%;

    position:       relative;
    aspect-ratio:   1 / 1;
    width:          var(--size);
    border-radius:  var(--radius);
}

