.prettySearchBar {
  --display:        flex;
  --align-items:    center;
  --height:         25px;
  --width:          300px;
  --padding:        15px;
  --box-shadow:     var(--box_shadow);
  --background:     var(--b2);
  --border-radius:  var(--radius);
  --margin:         10px;

  display:          var(--display);
  align-items:      var(--align-items);
  height:           var(--height);
  width:            var(--width);
  padding:          var(--padding);
  box-shadow:       var(--box-shadow);
  background:       var(--background);
  border-radius:    var(--border-radius);
  margin:           var(--margin);
}

.prettySearchBar.rounded{
    --radius: 1000px;
}

.prettySearchBar .userInput {
  --position:   relative;
  --width:      calc(100% - 50px);
  --max-width:  none;

  position:   var(--position);
  width:      var(--width);
  max-width:  var(--max-width);
}

.prettySearchBar .iconActionBtn {
  --size:         40px;
  --background:   none;
  --box-shadow:   none;
  --margin-left:  2px;

  box-shadow:     var(--box-shadow);
  margin-left:    var(--margin-left);
}

.prettySearchBar .iconActionBtn:hover {
  --transform: scale(1.05);
  transform: var(--transform);
}

.prettySearchBar .iconActionBtn:active {
  --transform:  scale(0.95);
  transform:    var(--transform);
}

.prettySearchBar .userInput {
  --box-shadow: none;
  box-shadow:   var(--box-shadow);
}

@media screen and (max-width: 600px) {
  .prettySearchBar {
    --width:          auto;
    --border-radius:  5%;

    width:          var(--width);
    border-radius:  var(--border-radius);
  }
  .prettySearchBar {border-radius: var(--radius);}
  .prettySearchBar .userInput {
    --width:    0;
    --border:   0px solid transparent;
    --padding:  0;

    width:    var(--width);
    border:   var(--border);
    padding:  var(--padding);
  }
}
